<!DOCTYPE html>
<html>
<head>
    <title>Whatsapp API | List Device</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="row p-4">
        <div class="col-lg-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">List Device</h3>
                </div>
                <div class="card-body p-0">
                    <div class="form-group p-3">
                        <label for="device-name">Device Name</label>
                        <input type="email" class="form-control form-control-sm" id="device-name">

                        <label for="webhook-url">Webhook URL</label>
                        <input type="email" class="form-control form-control-sm" id="webhook-url">

                        <button type="button" onclick="addNewDevice();" class="btn btn-sm btn-success float-right mt-2 mb-2">
                            Add Device
                        </button>
                    </div>

                    </div>
                    <div class="table-responsive p-3" style="max-height: 500px;">
                        <table class="table table-striped table-sm table-head-fixed text-nowrap">
                            <thead>
                                <tr class="text-center">
                                    <th>No.</th>
                                    <th>Device Name</th>
                                    <th>Token</th>
                                    <th>Link Webhook</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbody-list-device">
        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    // Function for Create Token/sesion Id
    function makeid(length) {
        let result = '';
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
        counter += 1;
        }
        return result.toLowerCase();
    }

    function getDataListDevice(){
        $.ajax({
            type: "POST",
            url: "http://localhost:8000/list-device",
            success: function(data){
                if (data.status != false && data.results.length > 0) {
                    let strHtml = "";
                    for (i = 0; i < data.results.length; i++) {
                        strHtml += "<tr>";
                        strHtml += `<td onclick="selectedDataUpdate(this);" class="text-center selected-data">${i+1}.</td>`;
                        strHtml += `<td onclick="selectedDataUpdate(this);" class="selected-data">${data.results[i].description}</td>`;
                        strHtml += `<td onclick="selectedDataUpdate(this);" class="selected-data">${data.results[i].id}</td>`;
                        strHtml += `<td onclick="selectedDataUpdate(this);" class="selected-data">
                                        <a href="${data.results[i].webhookUrl}" target="_blank">
                                            ${data.results[i].webhookUrl}
                                        </a>
                                    </td>`;
                        if (data.results[i].ready) {
                            strHtml += `<td onclick="selectedDataUpdate(this);" class="text-center selected-data"><span class="badge bg-success">Active</span></td>`;
                        }else{
                            strHtml += `<td onclick="selectedDataUpdate(this);" class="text-center selected-data"><span class="badge bg-warning">Scan QR</span></td>`;
                        }
                        strHtml += `<td onclick="selectedDataUpdate(this);" class="selected-data" style="width:35px;">
                                        <a href="http://localhost:8000/scan/${data.results[i].id}" target="_blank">
                                            <button type="button" class="btn btn-sm btn-primary">Detail</button>
                                        </a>
                                    </td>`;
                        strHtml += "</tr>";

                        $('#tbody-list-device').html(strHtml);
                    }
                }else if(data.results.length == 0){
                    alert('Data device not Found!');
                }else{
                    alert('Generate Failed!');
                }
            },
            error: function(error){
                alert('Internal Server Error!');
            }
        });
    }

    function addNewDevice(){
        let vDevicename = $('#device-name').val();
        let vWebhookUrl = $('#webhook-url').val();

        if (vDevicename == '' || vWebhookUrl == '') {
            alert('Pastikan semua form sudah terisi!');
        }else{

            $.ajax({
                type: "POST",
                url: "http://localhost:8000/add-device",
                data: {
                    description: vDevicename,
                    webhookUrl:vWebhookUrl
                },
                success: function(data){
                    if (data.status) {
                        alert(data.message);
                        $('#device-name').val('');
                        $('#webhook-url').val('');
                        getDataListDevice();
                    }else{
                        alert(data.message);
                    }
                },
                error: function(){
                    alsert('500! Internal Server Error.');
                }
            });
        }
    }

    function selectedDataUpdate(obj){
        let row = $(obj).closest('tr');
        $('#device-name').val(row.find('td:eq(1)').text());
        $('#webhook-url').val(row.find('td:eq(3)').text());
    }

    $(document).ready(function(){
        getDataListDevice();
    });

</script>
</html>